body {
  font-family: Arial, Helvetica, sans-serif;
}

.collapsible-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.collapsible-section__content {
  margin-top: 15px;
}

.collapsible-section__title {
  cursor: pointer;
}

.graph-creator input {
  margin-left: 5px;
  margin-right: 5px;
}

.graph-info__content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.graph-info__get-info-button {
  margin-right: 5px;
}

section .collapsible-section {
  background: #f3f4f5;
}

button {
  background: rgb(51, 145, 223);
  border: none;
  border-radius: 2px;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
}

input {
  box-sizing: border-box;
  height: 28px;
}
